*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 80px;
    height: 80px;
    background-color: skyblue;
    margin: auto;
    margin-top: 30px;
    transition: 1s;
  }
  .rotated div{
  border: 2px dashed;
  transform: rotate(45deg);
  background: transparent;
  margin: 0;
}
  .rotated div:hover {
    transform: rotate(90deg);
}
.normal:hover{
    transform: scale(1.4); /* Equal to rotateZ(45deg) */
}
  