body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    height: 100vh;
}
.chess {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 15px solid saddlebrown;
}
.chess p {
    margin: 0;
}
.line1 p:nth-child(even) {
    width: 90px;
    height: 90px;
    background-color: #fff;
}

.line1 p:nth-child(odd) {
    width: 90px;
    height: 90px;
    background-color: black;
}
.line2 p:nth-child(even) {
    width: 90px;
    height: 90px;
    background-color: black;
}

.line2 p:nth-child(odd) {
    width: 90px;
    height: 90px;
    background-color: white;
}

.line3 p:nth-child(even) {
    width: 90px;
    height: 90px;
    background-color: #fff;
}

.line3 p:nth-child(odd) {
    width: 90px;
    height: 90px;
    background-color: black;
}

.line4 p:nth-child(even) {
    width: 90px;
    height: 90px;
    background-color: black;
}

.line4 p:nth-child(odd) {
    width: 90px;
    height: 90px;
    background-color: white;
}

.line5 p:nth-child(even) {
    width: 90px;
    height: 90px;
    background-color: #fff;
}

.line5 p:nth-child(odd) {
    width: 90px;
    height: 90px;
    background-color: black;
}

.line6 p:nth-child(even) {
    width: 90px;
    height: 90px;
    background-color: black;
}

.line6 p:nth-child(odd) {
    width: 90px;
    height: 90px;
    background-color: white;
}

.line7 p:nth-child(even) {
    width: 90px;
    height: 90px;
    background-color: #fff;
}

.line7 p:nth-child(odd) {
    width: 90px;
    height: 90px;
    background-color: black;
}

.line8 p:nth-child(even) {
    width: 90px;
    height: 90px;
    background-color: black;
}

.line8 p:nth-child(odd) {
    width: 90px;
    height: 90px;
    background-color: white;
}
